.contract-address {
    width: 400px;
}

.invalid {
    border-color: red;
    border-width: 2px;
}

.title {
    margin-top: 30px;
    text-align: center;
}

.header-main-container {
    display: flex;
}

.header-main-container > div {
    margin: 10px;
}

.input-form {
    margin: 0px auto;
}

.methods-list {
    margin: 30px auto;
}

.methods-list .row {
    margin-bottom: 20px;
}

.method_args input {
    width: 400px;
}